---
name: Test report
about: What happened while testing? What is the experience?
title: "[Test report]"
labels: ''
assignees: ''

---

**Like or don't like the experience (not really necessary)**
A clear and concise description of what you like or don't like with the experience.

**Experience (necessary)**
A clear and concise description of what occurred in your experience.

**Screenshots (If applicable)**
Add screenshots of your experience.

**Information (please complete the following information):**
 - Firmware:
 - Plugin Version:

**Additional context**
Add any other context about the experience here.
